* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #86c3ea;
    border: 4px solid #2c93d2;
    border-radius: 10px;
    user-select: none;
    -webkit-app-region: drag;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

button,
input,
textarea,
select {
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.single-day-regular {
    font-family: "Single Day";
    font-weight: 400;
    font-style: normal;
}


.to-do-button {
    color: white;
    font-family: "Single Day";
    background: #2c93d2;
    border: none;
    border-radius: 20px;
    padding: 8px;
    height: 30px;
    width: 182px;
    text-align: center;
}

.day {
    font-size: 48px;
    color: white;
    font-family: "Single Day";
    font-weight: 400;
    font-style: normal;
}